* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #555;
}

a:link {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:visited {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

main, footer, header, article, section, aside, figure, figcaption, hgroup, menu, nav, details, summary {
    display: block;
}

audio, video, canvas, progress {
    vertical-align: baseline;
    display: inline-block;
}

html, body, .page {
    height: 100%;
    display: block;
}

html {
    overflow-y: scroll;
}

body {
    background: #fff;
}

.center {
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
}

footer {
    border-top: 1px solid #ddd;
    position: relative;
    height: 70px;
    margin-top: -70px;
    padding-top: 20px;
    text-align: center;
    color: #777;
    font-size: 20px;
}

.main-block {
    width: 1200px;
    margin: 0 auto;
}

.emulator-head-label {
    display: block;
    padding: 20px 0 30px;
    font-size: 34px;
    font-family: Calibri, sans-serif;
    text-align: center;
}

.emulator-input-row {
    text-align: center;
    padding: 20px 0;
}

.emulator-input-block {
    width: 43%;
    height: 165px;
    border: 1px solid #ccc;
    margin: 0 2%;
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    overflow: hidden;
}

.emulator-input-container {
    padding-bottom: 30px;
}

.emulator-input-container > h3 {
    display: block;
    padding-bottom: 10px;
    text-align: center;
}

.emulator-input-block > h3 {
    padding-bottom: 5px;
}

.emulator-input-block > h3.vertical-offset {
    padding-bottom: 15px;
}

.emulator-input-block-field {
    display: block;
    text-align: left;
    padding: 12px 20px 0px;
}

.emulator-input-block-line-field {
    display: inline-block;
    padding: 12px 20px 0;
    text-align: left;
    width: 45%;
}

.emulator-input-block-field > h4, .emulator-input-block-line-field > h4 {
    font-weight: normal;
    font-size: 15px;
    display: block;
    padding-bottom: 2px;
}

.emulator-input-button-block {
    padding: 10px 0 0;
    text-align: center;
}

.emulator-input-button-block > input[type="submit"] {
    background: transparent;
    border: 1px solid #aaa;
    padding: 8px 35px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: 0.15s all;
}

.emulator-input-block-field > h4 {
    padding-bottom: 8px;
}

.emulator-input-block-field > .long-field {
    width: 300px;
    padding: 2px 4px;
}

.emulator-input-button-block > input[type="submit"]:hover {
    background: #aaa;
    color: #fff;
}


.emulator-output-container {
    border: 1px solid #ccc;
    min-height: 300px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}

.output-short-option {
    width: 29%;
    margin: 20px 1%;
    text-align: left;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 15px;
    position: relative;
    vertical-align: top;
    font-size: 13px;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
